---
import LinkedInIcon from './icons/LinkedInIcon.html'
import GithubIcon from './icons/GithubIcon.html'
---

<footer class="pb-16 text-slate-300">
  <div class="mb-4 flex justify-center gap-3">
    <a
      class="h-6 w-6"
      aria-label="LinkedIn profile"
      target="_blank"
      rel="noreferrer"
      href="https://www.linkedin.com/in/arelalkim/"
    >
      <LinkedInIcon />
    </a>
    <a
      class="h-6 w-6"
      aria-label="Github profile"
      target="_blank"
      rel="noreferrer"
      href="https://github.com/Arelera"
    >
      <GithubIcon />
    </a>
  </div>
  <div class="text-center text-sm">
    made with <a
      class="ml-1.5 mr-0.5 inline-block rotate-90 font-serif text-pink-500"
      target="_blank"
      rel="noreferrer"
      href="https://github.com/Arelera/arel.dev">:)</a
    >
    <span class="text-xs text-slate-600"> (astro, hosted on github pages) </span>
  </div>
</footer>
