---
import type { CollectionEntry } from 'astro:content'
import ProjectCard from './ProjectCard.astro'

type Props = { projects: CollectionEntry<'projects'>[] }
const projects = Astro.props.projects.sort((a, b) => (a.data.order ?? 99) - (b.data.order ?? 99))
---

<section class="py-24">
  <h2 class="pb-16 text-center text-5xl font-thin tracking-wide text-slate-200">Projects</h2>
  <div class="mx-auto max-w-6xl">
    <ul class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
      {
        projects.map(
          (p) =>
            !p.data.isHidden && (
              <li class="transform transition duration-300 ease-in-out hover:-translate-y-1">
                <ProjectCard {...p} />
              </li>
            ),
        )
      }
    </ul>
  </div>
</section>
