---
import type { CollectionEntry } from 'astro:content'
import ProjectCard from './ProjectCard.astro'

type Props = { projects: CollectionEntry<'projects'>[] }
const projects = Astro.props.projects.sort((a, b) => (a.data.order ?? 99) - (b.data.order ?? 99))
---

<section class="py-16">
  <h2 class="pb-4 text-center text-4xl font-medium">Projects</h2>
  <p class="pb-10 text-center text-sm text-slate-400">
    Most of these haven't been started yet so only the techs are listed (some prob won't ever get
    made)
  </p>
  <ul class="grid gap-x-6 gap-y-5 sm:grid-cols-2 lg:grid-cols-3">
    {
      projects.map(
        (p) =>
          !p.data.isHidden && (
            <li>
              <ProjectCard {...p} />
            </li>
          ),
      )
    }
  </ul>
</section>
