---
import { getCollection } from 'astro:content'
import BaseLayout from '../../layouts/BaseLayout.astro'

const projects = (await getCollection('projects')).sort(
  (a, b) => a.data.createdAt.valueOf() - b.data.createdAt.valueOf(),
)

return Astro.redirect('/')
---

<BaseLayout>
  <section>
    <!-- {
      projects.map((post) => (
        <a href={`/projects/${post.slug}/`}>
          <h4>{post.data.name}</h4>
        </a>
      ))
    } -->
  </section>
</BaseLayout>
